<p>event-list works!</p>

<ul>
  <li>Erster Listeneintrag</li>
  <li *ngFor="let event of eventData">
    <h3>{{event.name}}</h3>
    <p>am {{event.date | date}}</p>
    <p>{{event.date | telekomDate}}</p>

    <p>{{getFormattedDate(event.date)}}</p>
    <p>{{event.description}}</p>
  </li>
  <li>Letzter Listeneintrag</li>
</ul>

<ul>
  <li>
    <h3>Zirkus Maximus am 1.4.2023</h3>
    <p>das wird ein tolles Event</p>
  </li>
  <li>
    <h3>Schäferwiese am 2.4.2023</h3>
    <p>Lagerfeuer und Gesang</p>
  </li>
  <li>
    <h3>U2 Club am 3.4.2023</h3>
    <p>das wird ein tolles Event</p>
  </li>
</ul>