<scale-telekom-header>
  <scale-telekom-nav-list slot="main-nav">
    <scale-telekom-nav-item>
      <button>Topic One</button>
      <scale-telekom-nav-flyout hover>
        <div>Flyout content</div>
      </scale-telekom-nav-flyout>
    </scale-telekom-nav-item>
    <!-- … -->
  </scale-telekom-nav-list>
</scale-telekom-header>
<main style="padding: 2em">
  <scale-button>Scale Button</scale-button>
  <router-outlet></router-outlet>
</main>

<scale-app-footer id="footer" claim-lang="en" variant="minimal">
</scale-app-footer>
