div.presentation {
  border: solid 1px green;
  margin: 2em;
  padding: 1em;
}

form {
  display: flex; flex-direction: column;
  margin: 2em;
  padding: 1em;
  gap: 1em;
}
form label {
  flex-direction: column;
  display: flex;
}

form label span {
  display: flex;
  font-weight: bold;
}