
<div class="presentation">
  <h2>{{ specialOffer.title }}</h2>
  <p>{{ specialOffer.description }}</p>
</div>
<button (click)="toggleEditor()">{{ editorMode ? 'Hide Editor' : 'Show editor '}}</button>

<div *ngIf="editorMode" class="editor">
  <label>
    <span>Titel mit ngModel</span>
    <input type="text" [(ngModel)]="specialOffer.title" />
  </label>
  <label>
    <span>Titel nur Wert</span>
    <input type="text" [value]="specialOffer.title" (change)="titleChange($event)" />
  </label>
  <label>
    <span>Beschreibung</span>
    <textarea [(ngModel)]="specialOffer.description" ></textarea>
  </label>
</div>
