
<div class="presentation">
  <h2>{{ specialOffer.title }}</h2>
  <p>{{ specialOffer.description }}</p>
</div>
<button (click)="toggleEditor()">{{ editorMode ? 'Hide Editor' : 'Show editor '}}</button>

<form *ngIf="editorMode"  (ngSubmit)="onSubmit()" #specialOfferForm="ngForm">
<div class="editor" class="form-group">
  <label>
    <span>Titel mit ngModel</span>
    <input type="text" required="true"
      class="form-control"
      [(ngModel)]="specialOffer.title"
      name="title" id="title"
      #title="ngModel"
      />
    <div [hidden]="title.valid || title.pristine"
    class="alert alert-danger">
 Name is required
</div>
  </label>
  <label>
    <span>Titel nur Wert</span>
    <input type="text" [value]="specialOffer.title" (change)="titleChange($event)" />
  </label>
  <label>
    <span>Beschreibung</span>
    <textarea [(ngModel)]="specialOffer.description" name="description"></textarea>
  </label>
  <scale-button type="submit">Speichern</scale-button>
</div>
