<div style="display: flex; gap: 1em; justify-content: space-between;">
  <scale-button *ngIf="!editMode" (click)="handleEditClick()"
    >Editieren</scale-button
  >
  <scale-button *ngIf="editMode" (click)="handleSaveClick()"
    >Speichern</scale-button
  >
  <scale-button (click)="handleNext()">Nächstes Rezept</scale-button>
</div>
<h2>Details zum Rezept {{ recipe?.id }}: {{ recipe?.name }}</h2>
<div *ngIf="!editMode">
  <h3>Anweisungen</h3>
  <div *ngIf="recipe?.instructions">
    {{ recipe?.instructions }}
  </div>
</div>
<form *ngIf="editMode" [formGroup]="recipeFormGroup">
  <label>
    <span>Id</span>
    <input formControlName="id" readonly />
  </label>
  <label>
    <span>Name</span>
    <input formControlName="name" />
  </label>
  <label>
    <span>Anweisungen</span>
    <textarea formControlName="instructions"></textarea>
  </label>
</form>
