<p>appointment-details-page works!</p>
<a routerLink="/appointment/1">1er</a>
<br>
<a routerLink="/appointment/3">3er</a>

<form [formGroup]="meineFormGruppe">
  <label>
    <span>Name</span>
    <input formControlName="name" type="text">
    <span class="error" *ngIf="meineFormGruppe.get('name')?.errors">Fehler</span>
  </label>
  <label>
    <span>Start</span>
    <input formControlName="start" type="date">
    <p>{{meineFormGruppe.get('start')?.value}}</p>
    <span class="error" *ngIf="meineFormGruppe.get('start')?.errors">Fehler: {{meineFormGruppe.get('start')?.errors?.['error']}}</span>

  </label>
  <label>
    <span>End</span>
    <input formControlName="end" type="date">
  </label>
  <label>
    <span>Description</span>
    <textarea formControlName="description"></textarea>
  </label>
  <input [disabled]="!meineFormGruppe.valid" type="submit" value="submit" >
</form>